{% extends "base.html" %}
{% block title %}Звіти{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Звіти</h1>
    <form method="post" action="{{ url_for('reports') }}" id="reportForm">
        <div class="form-group">
            <label for="report_type">Тип звіту</label>
            {{ form.report_type(class_="form-control", id="report_type") }}
        </div>
        <div id="additionalFilters">
            <div class="form-group">
                <label for="trade_point_id">Торговельна точка</label>
                {{ form.trade_point_id(class_="form-control", id="trade_point_id") }}
            </div>
            <div class="form-group">
                <label for="trade_point_type">Тип торговельної точки</label>
                {{ form.trade_point_type(class_="form-control", id="trade_point_type") }}
            </div>
            <div class="form-group">
                <label for="product_id">Товар</label>
                {{ form.product_id(class_="form-control", id="product_id") }}
            </div>
            <div class="form-group">
                <label for="supplier_id">Постачальник</label>
                {{ form.supplier_id(class_="form-control", id="supplier_id") }}
            </div>
            <div class="form-group">
                <label for="start_date">Початкова дата</label>
                {{ form.start_date(class_="form-control", id="start_date") }}
            </div>
            <div class="form-group">
                <label for="end_date">Кінцева дата</label>
                {{ form.end_date(class_="form-control", id="end_date") }}
            </div>
            <div class="form-group">
                <label for="min_quantity">Мінімальна кількість</label>
                {{ form.min_quantity(class_="form-control", id="min_quantity") }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Згенерувати звіт</button>
    </form>

    {% if report_data %}
    <div class="mt-5">
        <h3>{{ report_title }}</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    {% for key in report_data[0].keys() %}
                    {% if key != '_id' %}
                    <th>{{ key }}</th>
                    {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in report_data %}
                <tr>
                    {% for key, value in row.items() %}
                    {% if key != '_id' %}
                    <td>{{ value }}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}
